body {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row-1 {
  display: flex;
}

.column-1 {
  width: 100%;
}

.row-2 {
  display: flex;
  justify-content: center;
}

.column-2 {
  flex-basis: calc(100% / 4);
}

.row-3 {
  display: flex;
}

.column-3 {
  width: 100%;
}

.row-4 {
  display: flex;
}

.column-4 {
  width: 100%;
}
