* {
  font-family: sans-serif;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.canvas {
  color: rgb(31 31 83);
  font-size: x-large;
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-self: center;
}

.nav-content {
  display: flex;
  flex-direction: row;
}

.nav-content > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.contact-button {
  color: white;
  background-color: rgb(31 31 83);
  width: 9.2em;
  height: 2.5rem;
  border-radius: 4px;
  margin-left: 2rem;
  margin-top: 5px;
}

hr {
  max-width: 91%;
}

.container-intro {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.row-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: top center;
  width: calc(200% / 3);
  padding: 5rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(145% / 3);
  color: whitesmoke;
  font-weight: 535;
  line-height: 2rem;
}

.get-started-button {
  color: white;
  font-size: 1rem;
  background-color: rgb(31 31 83);
  border-radius: 4px;
  width: 12em;
  height: 3rem;
  margin-top: 1rem;
}

.container-prefer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 3rem;
}

.prefer-wrapper {
  color: dimgrey;
  align-self: center;
  background-color: rgb(245 245 245);
  padding-top: 2rem;
  width: 75%;
  height: 27rem;
}

.prefer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefer-title > h1 {
  height: 0.3rem;
}

.prefer-title > p {
  width: 30rem;
  text-align: center;
  line-height: 28px;
}

.prefer-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 2.5rem;
  font-size: large;
  bottom: 13px;
  position: relative;
}

.prefer-column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefer-column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-get-started {
  display: flex;
  justify-content: center;
}

.get-started-wrapper {
  display: flex;
  flex-direction: row;
  width: calc(200% / 3);
  justify-content: center;
  justify-content: space-between;
}

.learn-more {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: dimgrey;
}

.learn-more-button {
  display: flex;
  align-items: center;
}

.learn-more-button > button {
  color: white;
  background-color: rgb(31 31 83);
  border-radius: 4px;
  width: 13em;
  height: 55px;
  margin-top: 1rem;
  font-size: 1rem;
}

.container-footer-1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.footer-1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: dimgrey;
  color: whitesmoke;
  width: calc(225% / 3);
}

.canvas-address {
  line-height: 6px;
  margin-bottom: 4rem;
}

.canvas-address > h2 {
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  line-height: 30px;
  font-size: 18px;
}

.company-column > ul {
  list-style: none;
}

.product-column > ul {
  list-style: none;
}

.container-footer-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(153% / 3);
}

.footer-2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-2-wrapper > p {
  margin-right: 34px;
  color: dimgray;
}
